.container {
  background-color: rgba(56, 118, 233);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container2 {
  background-color: rgb(255, 255, 255);
  width: 70%;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  border-bottom: 2px solid;
  border-bottom-color: #aeb0af;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
}

.link:hover {
  text-decoration: underline;
}

.link {
  color: #0070E0;
}

.link.active {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
