.header {
    border-bottom: 2px solid;
}

.title {
    font-size: 40px;
    font-weight: 500;
    line-height: 0.7;
    padding-top: 12px;
    padding-left: 12px;
}

.subtitle {
    font-size: 30px;
    font-weight: 400;
    padding-left: 12px;
}

.body {
    display: flex;
    height: calc(400px - 82px);
}

.temperatureContainer {
    border-right: 2px solid;
    display: flex;
    flex: 2;
    justify-content: center;
}

.temperatureText {
    font-size: 50px;
    margin-top: 120px;
}

.conditionContainer {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.conditionText {
    font-size: 30px;
    font-weight: 500;
    margin-top: 36px;
}

.conditionImage {
    width: 100px;
    height: 100px;
    margin-top: 24px;
}